<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}DragEncrypt{% endblock %}</title>
		<link href='https://fonts.googleapis.com/css?family=Exo:400,500,500italic,600,700,800,300,200,100' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<meta name="google-site-verification" content="GS7KkCcQudKLB0ih5YaRkp3HfUsAx4rnAoA9VIRpHxw" />
		{% block tags %}
		{% endblock %}
		{% block description %}
		<meta name="description" content="DragEncrypt is the world's easiest way to encrypt a file. Drag and drop a file into your browser to encrypt it. Simple - just the way it should be.">
		{% endblock %}

		<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/static/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:title" content="DragEncrypt">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.dragencrypt.com">
		<meta property="og:description" content="DragEncrypt is the world's easiest way to encrypt a file. Drag and drop a file into your browser to encrypt it. Simple - just the way it should be.">
		<meta property="og:image" content="http://www.dragencrypt.com/images/favicon/favicon-96x96.png">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-54838312-6', 'auto');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		<a class="main-header-link" href="/"><h1 class="main-header-title header-title-low">DragEncrypt</h1></a>
		<div class="content-wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>

